html, body {
	margin: 0;
}

#app {
	display: flex;
	flex-direction: column;
	gap: 15px;
    box-sizing: border-box;
	height: 100dvh;
    padding: 15px;
}
.buttons, table {
	flex-grow: 0;
}
textarea {
	flex-grow: 1;
}

.buttons {
	display: flex;
}
.buttons button {
	flex-grow: 1;
}

table, textarea {
	width: 100%;
}

table {
	padding: 2px;
	background: black;
}
td {
	padding: 2px 4px;
	position: relative;
}
td:before, td:after {
	content: '';
	position: absolute;
	border: 4px solid transparent;
}
td:before {
	top: 0;
	bottom: 0;
	left: 50%;
	width: 32px;
	margin-left: -8px;
	border-left-width: 0;
	border-right-width: 0;
}
td:after {
	left: 0;
	right: 0;
	top: 50%;
	height: 16px;
	margin-top: -8px;
	border-top-width: 0;
	border-bottom-width: 0;
}
.n:before {
	border-top-color: lightgray;
}
.s:before {
	border-bottom-color: lightgray;
}
.w:after {
	border-left-color: lightgray;
}
.e:after {
	border-right-color: lightgray;
}
input {
	border: none;
	width: calc(100% - 4px);
	background-color: lightgray;
}
.empty input {
	background-color: dimgray;
}
.b input {
	background-color: lightblue;
}
