body {
	margin: 0;
}

span[style="color:transparent"],
span[style="color:transparent;"],
span[style="color: transparent"],
span[style="color: transparent;"] {
	background: black;
	user-select: none;
}

.composite-row {
	display: flex;
	gap: 15px;
}
.composite-row > * {
	flex-grow: 1;
}
.composite-heading {
	text-align: center;
}
div.composite-heading {
	font-size: 2em;
	font-weight: bold;
}
