html,
body {
	margin: 0;
	background: var(--page-background);
	overflow-x: hidden;
}
* {
	box-sizing: border-box;
}

body {
	min-height: 100dvh;
	padding: 8px;
}

:root {
	--page-background: #eee;
	--paper-background: #fff;
	--paper-shadow: #ccc;
	--paper-font-color: #000;
	--paper-inactive-background: #eee;
	--button-background: #eee;
	--button-border-color: #ddd;
	--button-font-color: #777;
	--button-hover-background: #ddd;
	--button-hover-border-color: #ccc;
	--button-hover-font-color: #777;
	--navigation-font-color: #000;
	--reference-font-color: #555;
	--reference-active-background: #ccc;
	--divider-color: #777;
	--link-font-color: #00e;
	--link-visited-font-color: #551a8b;
}
body.dark-theme {
	--page-background: #333;
	--paper-background: #222;
	--paper-shadow: #111;
	--paper-font-color: #ccc;
	--paper-inactive-background: #333;
	--button-background: #444;
	--button-border-color: #555;
	--button-font-color: #777;
	--button-hover-background: #555;
	--button-hover-border-color: #666;
	--button-hover-font-color: #777;
	--navigation-font-color: #ccc;
	--reference-font-color: #999;
	--reference-active-background: #555;
	--divider-color: #777;
	--link-font-color: #2a8ede;
	--link-visited-font-color: #8544c1;
}

#app {
	display: flex;
	justify-content: center;
}

.nav ul {
	margin: 0;
	font-size: 17px;
	list-style: none;
}
.nav > .scroll-column > ul {
	padding: 0;
}

.main,
.edit,
.snip {
	position: relative;
	padding: 16px;
	background: var(--paper-background);
	box-shadow: 0 0 12px 0px var(--paper-shadow);
	color: var(--paper-font-color);
}
.main {
	flex: 0 1 1048px;
}
.edit {
	flex: 0 1 1048px;
}
.snip + .snip {
	margin-top: 16px;
}
.snip-inactive {
	background: var(--paper-inactive-background);
}
.main, .edit {
	margin: 8px;
}
.nav {
	flex: 0 0 270px;
}
.snips {
	flex: 0 0.666666 640px;
}
.scroll-column {
	position: fixed;
	top: 0;
	height: 100dvh;
	margin: 0;
	padding: 16px 8px;
	overflow-x: hidden;
	overflow-y: auto;
}
.nav .scroll-column {
	min-width: 120px;
	max-width: 270px;
}

.main h1 {
	text-align: center;
}

.children {
	display: inline-block;
	width: 100%;
	padding-left: 16px;
}
.nav > .scroll-column > .children {
	padding-left: 0;
}
.child-button,
.citation-button {
	padding: 5px 5px 5px 0;
	width: 100%;
	text-align: left;
}
.child-button {
	display: block;
	color: var(--navigation-font-color);
	text-decoration: none;
}
span.child-button {
	color: var(--reference-font-color);
}
.child-button:visited {
	color: var(--navigation-font-color);
}
.child-button-active {
	text-decoration: underline;
}
.citation-button {
	color: var(--reference-font-color);
}

.nav .citations {
	padding-top: 5px;
	margin-top: 4px;
	border-top: 1px solid var(--divider-color);
}
.nav span,
.nav button {
	display: block;
	border: none;
	background: none;
	font-size: inherit;
}
.nav .citation-button-active {
	padding-left: 12px;
	background: var(--reference-active-background);
}

.left-button,
.right-button,
.edit-button {
    position: absolute;
    top: 10px;
    width: 30px;
    height: 30px;
    margin: 0;
	padding: 0;
	border: 1px solid var(--button-border-color);
    border-radius: 25%;
    font-size: 0;
	color: var(--button-font-color);
    background: var(--button-background);

	&:hover {
		border-color: var(--button-hover-border-color);
		color: var(--button-hover-font-color);
		background: var(--button-hover-background);
	}

	&:after {
		content: '';
        display: block;
        width: 18px;
        height: 18px;
        margin: 0 auto;
        background: no-repeat url(/index.png);
        background-position: 20.4px -1.6px;
        background-size: auto 20.4px;
	}
}
.edit-button {
	margin-left: 2px;
	border: none;
	background: none;
}
.left-button {
    left: 10px;
}
.right-button {
    right: 10px;
}

.theme-button:after {
	background-position-x: calc((0 * 16px + 1px) * -1.2);
}
.light-theme .theme-button:after {
	background-position-x: calc((1 * 16px + 1px) * -1.2);
}
.files-button:after {
	background-position-x: calc((2 * 16px + 1px) * -1.2);
}
.close-button:after {
	background-position-x: calc((3 * 16px + 1px) * -1.2);
}
.menu-button:after {
	background-position-x: calc((4 * 16px + 1px) * -1.2);
}
.snips-button:after,
.map-button:after {
	background-position-x: calc((5 * 16px + 1px) * -1.2);
}
.edit-button:after {
	background-position-x: calc((6 * 16px + 1px) * -1.2);
}
.preview-button:after {
	background-position-x: calc((7 * 16px + 1px) * -1.2);
}
.save-button:after {
	background-position-x: calc((8 * 16px + 1px) * -1.2);
}
.delete-button:after {
	background-position-x: calc((9 * 16px + 1px) * -1.2);
}
.fullscreen-button:after {
	background-position-x: calc((10 * 16px + 1px) * -1.2);
}

.breadcrumbs {
	padding: 0 32px;
    margin: 0 0 20px;
    text-align: center;
	
	li {
		display: inline;

		+ li:before {
			content: '〉';
            font-size: 11px;
            margin-left: 5px;
		}
	}
}

.edit {
	form {
		margin-top: 32px;
	}

	textarea {
		margin-top: 24px;
		min-height: 186px;
		tab-size: 4;
	}
}

.editor {
	width: 100%;
	border: none;
	background: none;
	resize: none;
	color: var(--paper-font-color);
	overflow: hidden;
}
.editor:focus {
	outline: none;
}

.edit ul {
	display: flex;
	gap: 10px;
	flex-direction: column;
	margin-top: 10px;
	padding-left: 16px;
	border-left: 1px solid var(--paper-font-color);
}
.edit > ul {
	margin: -10px 0 16px;
	padding-left: 0;
	border-left: none;
}
label input:not([type="checkbox"]),
label select {
    display: block;
    margin-top: 5px;
    width: 100%;
}
label input[type="checkbox"] {
	float: left;
	margin-right: 5px;
}

@media (max-width: 1080px) {
	.page {
		#app {
			float: left;
		}
		.main, .edit {
			flex: 0 0 calc(100vw - 32px);
			max-width: calc(100vw - 32px);
		}
		.snips {
			flex: 0 0 calc(100vw - 86px);
			max-width: calc(100vw - 86px);

			.scroll-column {
				width: 100%;
			}
		}
	}
	.left-button,
	.right-button {
		box-shadow: 0 0 8px 8px var(--paper-background);
	}
	.snips-active {
		#app {
			float: right;
		}

		.main .right-button {
			position: fixed;
			top: 26px;
			left: 15px;
		}
	}
	.menu-active:not(.snips-active) .main .left-button {
		position: fixed;
		top: 26px;
		left: auto;
	}
}
