html,
body {
	margin: 0;
	background: var(--page-background);
	overflow-x: hidden;
}
* {
	box-sizing: border-box;
}

body {
	min-height: 100dvh;
	padding: 8px;
}

:root {
	--page-background: #eee;
	--paper-background: #fff;
	--paper-shadow: #ccc;
	--paper-font-color: #000;
	--paper-inactive-background: #eee;
	--button-background: #eee;
	--button-border-color: #ddd;
	--button-font-color: #777;
	--button-hover-background: #ddd;
	--button-hover-border-color: #ccc;
	--button-hover-font-color: #777;
	--navigation-font-color: #000;
	--reference-font-color: #555;
	--reference-active-background: #ccc;
	--divider-color: #777;
	--link-font-color: #00e;
	--link-visited-font-color: #551a8b;
}
body.dark-theme {
	--page-background: #333;
	--paper-background: #222;
	--paper-shadow: #111;
	--paper-font-color: #ccc;
	--paper-inactive-background: #333;
	--button-background: #444;
	--button-border-color: #555;
	--button-font-color: #777;
	--button-hover-background: #555;
	--button-hover-border-color: #666;
	--button-hover-font-color: #777;
	--navigation-font-color: #ccc;
	--reference-font-color: #999;
	--reference-active-background: #555;
	--divider-color: #777;
	--link-font-color: #2a8ede;
	--link-visited-font-color: #8544c1;
}

#app {
	display: flex;
	justify-content: center;
}

.nav ul {
	margin: 0;
	font-size: 17px;
	list-style: none;
}
.nav > .scroll-column > ul {
	padding: 0;
}

.main,
.edit,
.snip {
	position: relative;
	padding: 16px;
	background: var(--paper-background);
	box-shadow: 0 0 12px 0px var(--paper-shadow);
	color: var(--paper-font-color);
}
.main {
	flex: 0 1 960px;
}
.edit {
	flex: 0 1 960px;
}
.snip + .snip {
	margin-top: 16px;
}
.snip-inactive {
	background: var(--paper-inactive-background);
}
.main, .edit {
	margin: 8px;
}
.nav {
	flex: 0 0 270px;
}
.snips {
	flex: 0 0.666666 640px;
}
.scroll-column {
	position: fixed;
	top: 0;
	height: 100dvh;
	margin: 0;
	padding: 16px 8px;
	overflow: auto;
}
.nav .scroll-column {
	min-width: 120px;
	max-width: 270px;
}

.main h1 {
	text-align: center;
}

.children {
	display: inline-block;
	width: 100%;
	padding-left: 16px;
}
.nav > .scroll-column > .children {
	padding-left: 0;
}
.child-button,
.citation-button {
	padding: 5px 5px 5px 0;
	width: 100%;
	text-align: left;
}
.child-button {
	color: var(--navigation-font-color);
}
.child-button-active {
	text-decoration: underline;
}
.citation-button {
	color: var(--reference-font-color);
}

.nav .citations {
	padding-top: 5px;
	margin-top: 4px;
	border-top: 1px solid var(--divider-color);
}
.nav button {
	border: none;
	background: none;
	font-size: inherit;
}
.nav .citation-button-active {
	padding-left: 12px;
	background: var(--reference-active-background);
}

.left-button,
.right-button {
    position: absolute;
    top: 10px;
    width: 30px;
    height: 30px;
    margin: 0;
	padding: 0;
	border: 1px solid var(--button-border-color);
    border-radius: 50%;
    line-height: 30px;
	color: var(--button-font-color);
    background: var(--button-background);

	&:hover {
		border-color: var(--button-hover-border-color);
		color: var(--button-hover-font-color);
		background: var(--button-hover-background);
	}
}
.left-button {
    left: 10px;
}
.right-button {
    right: 10px;
}
.menu-button {
	font-size: 26px;
	line-height: 26px;
}
.edit-button {
	font-size: 25px;
	line-height: 27px;
}
.save-button {
    font-size: 24px;
    line-height: 27px;
    font-weight: bold;
}
.theme-button {
    font-size: 21px;
}
.light-theme .theme-button {
	padding-left: 2px;
}
.close-button {
    font-size: 17px;
}

.breadcrumbs {
	padding: 0 32px;
    margin: 0 0 20px;
    text-align: center;
	
	li {
		display: inline;

		+ li:before {
			content: '〉';
            font-size: 11px;
            margin-left: 5px;
		}
	}
}

.edit {
	form {
		margin-top: 32px;
	}

	textarea {
		margin-top: 24px;
		min-height: 186px;
	}
}

.editor {
	width: 100%;
	border: none;
	background: none;
	resize: none;
	color: var(--paper-font-color);
	overflow: hidden;
}
.editor:focus {
	outline: none;
}

.edit ul {
	display: flex;
	gap: 10px;
	flex-direction: column;
	margin-top: 10px;
	padding-left: 16px;
	border-left: 1px solid var(--paper-font-color);
}
.edit > ul {
	margin: -10px 0 16px;
	padding-left: 0;
	border-left: none;
}
label input:not([type="checkbox"]),
label select {
    display: block;
    margin-top: 5px;
    width: 100%;
}
label input[type="checkbox"] {
	float: left;
	margin-right: 5px;
}
