html,
body {
	margin: 0;
	overflow-x: hidden;
}
body {
	min-height: 100dvh;
	background: var(--page-background);
}
* {
	box-sizing: border-box;
}

:root {
	--page-background: #eee;
	--paper-background: #fff;
	--paper-shadow: #ccc;
	--paper-font-color: #000;
	--paper-inactive-background: #eee;
	--button-background: #eee;
	--button-border-color: #ddd;
	--button-font-color: #777;
	--button-hover-background: #ddd;
	--button-hover-border-color: #ccc;
	--button-hover-font-color: #777;
	--navigation-font-color: #000;
	--reference-font-color: #555;
	--reference-active-background: #ccc;
	--divider-color: #777;
	--link-font-color: #00e;
	--link-visited-font-color: #551a8b;
}
body.dark-theme {
	--page-background: #333;
	--paper-background: #222;
	--paper-shadow: #111;
	--paper-font-color: #ccc;
	--paper-inactive-background: #333;
	--button-background: #444;
	--button-border-color: #555;
	--button-font-color: #777;
	--button-hover-background: #555;
	--button-hover-border-color: #666;
	--button-hover-font-color: #777;
	--navigation-font-color: #ccc;
	--reference-font-color: #999;
	--reference-active-background: #555;
	--divider-color: #777;
	--link-font-color: #2a8ede;
	--link-visited-font-color: #8544c1;
}

:root {
	--left-sidebar-width: 0px;
	--right-sidebar-width: 0px;
}
.left-sidebar-active {
	--left-sidebar-width: 240px;
}
.right-sidebar-active {
	--right-sidebar-width: 480px;
}

#app {
	display: flex;
	justify-content: center;
	padding: 0 4px;
	max-width: 100dvw;
}

.main {
	flex: 1 0 0;
	max-width: min(1200px, calc(100dvw - 8px - var(--left-sidebar-width) - var(--right-sidebar-width)));
	overflow-x: auto;

	h1 {
		text-align: center;
	}

	textarea {
		width: 100%;
		margin-top: 48px;
		border: none;
		background: none;
		resize: none;
		color: var(--paper-font-color);
		white-space: nowrap;
		overflow-x: auto;
		overflow-y: hidden;
		min-height: 186px;
		tab-size: 4;
	}
	textarea:focus {
		outline: none;
	}
}
.breadcrumbs {
	padding: 0 32px;
    margin: 0 0 20px;
    text-align: center;
	
	li {
		display: inline;

		+ li:before {
			content: '〉';
            font-size: 11px;
            margin-left: 5px;
		}
	}
}
.date-link {
	display: block;
	margin: 0 48px;
	font-size: 21px;
	text-align: center;
}

.main,
.scroll {
	padding: 12px 8px;
}
.paper,
.snip {
	position: relative;
	padding: 16px;
	background: var(--paper-background);
	box-shadow: 0 0 8px 0 var(--paper-shadow);
	color: var(--paper-font-color);
}
.sidebar {
	position: relative;
	color: var(--paper-font-color);
	z-index: 9;
}
.scroll {
	position: fixed;
	top: 0;
	height: 100dvh;
	margin: 0;
	overflow-x: visible;
	overflow-y: auto;
} 
.sidebar-left {
	flex: 0 0 240px;
	max-width: 240px;

	.scroll {
		width: 240px;
	}
}
.sidebar-right {
	flex: 0 0 480px;
	max-width: 480px;

	.scroll {
		width: 480px;
	}
}
.sidebar-hidden {
	flex-basis: 0;
	width: 0;

	.scroll {
		display: none;
	}
}

.left-button,
.right-button,
.edit-button,
.toolbar-button,
.toggle {
    position: absolute;
    top: 8px;
    width: 32px;
    height: 32px;
    margin: 0;
	padding: 0;
	border: 1px solid var(--button-border-color);
    border-radius: 25%;
    font-size: 0;
	color: var(--button-font-color);
    background: var(--button-background);
	z-index: 5;

	&:hover {
		border-color: var(--button-hover-border-color);
		color: var(--button-hover-font-color);
		background: var(--button-hover-background);
	}

	&:after {
		content: '';
        display: block;
        width: 18px;
        height: 18px;
        margin: 0 auto;
        background: no-repeat url(/index.png);
        background-position: 20.4px -1.6px;
        background-size: auto 20.4px;
	}
}
.edit-button {
	position: relative;
	top: -14px;
	margin-left: 2px;
	border: none;
	background: none;
}
.left-button {
	left: 8px;
}
.right-button {
	right: 8px;
}
.sidebar-left > .toggle {
    top: 18px;
    right: -46px;
	left: auto;
}
.sidebar-right > .toggle {
    top: 18px;
    left: -46px;
	right: auto;
}

.snip + .snip {
	margin-top: 16px;
}
.sidebar ul {
	margin: 0;
	font-size: 17px;
	list-style: none;
}
.sidebar > .scroll > ul {
	padding: 0;
}
.children {
	display: inline-block;
	width: 100%;
	padding-left: 16px;
}
.sidebar > .scroll > .children {
	padding-left: 0;
}
.child-button,
.citation-button {
	padding: 5px 5px 5px 0;
	width: 100%;
	text-align: left;
}
.child-button {
	display: block;
	color: var(--navigation-font-color);
	text-decoration: none;
}
span.child-button {
	color: var(--reference-font-color);
}
.child-button:visited {
	color: var(--navigation-font-color);
}
.child-button-active {
	text-decoration: underline;
}
.citation-button {
	color: var(--reference-font-color);
}

form ul {
	display: flex;
	gap: 10px;
	flex-direction: column;
	margin-top: 10px;
	padding-left: 16px;
	border-left: 1px solid var(--paper-font-color);
}
form > ul {
	margin: 42px 0 0;
	padding-left: 0;
	border-left: none;
}
label input:not([type="checkbox"]),
label select {
    display: block;
    margin-top: 5px;
    width: 100%;
}
label input[type="checkbox"] {
	float: left;
	margin-right: 5px;
}

.sidebar .citations {
	padding-top: 5px;
	margin-top: 4px;
	border-top: 1px solid var(--divider-color);
}
.sidebar span,
.sidebar button:not(.toggle, .left-button, .right-button) {
	display: block;
	border: none;
	background: none;
	font-size: inherit;
}
.sidebar .citation-button-active {
	padding-left: 12px;
	background: var(--reference-active-background);
}

.toolbar {
	position: fixed;
	left: 0;
	width: 100dvw;
	margin-top: -8px;
	text-align: center;
}
.toolbar-centered {
	display: inline-block;
	background: var(--paper-background);
}
.toolbar-button {
    position: static;
	margin: 0 3px;
}

.theme-button:after {
	background-position-x: calc((0 * 16px + 1px) * -1.2);
}
.light-theme .theme-button:after {
	background-position-x: calc((1 * 16px + 1px) * -1.2);
}
.files-button:after {
	background-position-x: calc((2 * 16px + 1px) * -1.2);
}
.close-button:after {
	background-position-x: calc((3 * 16px + 1px) * -1.2);
}
.menu-button:after {
	background-position-x: calc((4 * 16px + 1px) * -1.2);
}
.snips-button:after,
.map-button:after {
	background-position-x: calc((5 * 16px + 1px) * -1.2);
}
.edit-button:after {
	background-position-x: calc((6 * 16px + 1px) * -1.2);
}
.preview-button:after {
	background-position-x: calc((7 * 16px + 1px) * -1.2);
}
.save-button:after {
	background-position-x: calc((8 * 16px + 1px) * -1.2);
}
.delete-button:after {
	background-position-x: calc((9 * 16px + 1px) * -1.2);
}
.fullscreen-button:after {
	background-position-x: calc((10 * 16px + 1px) * -1.2);
}
.hash-button:after {
	background-position-x: calc((11 * 16px + 1px) * -1.2);
}
.dash-button:after {
	background-position-x: calc((12 * 16px + 1px) * -1.2);
}
.tick-button:after {
	background-position-x: calc((13 * 16px + 1px) * -1.2);
}
.link-button:after {
	background-position-x: calc((14 * 16px + 1px) * -1.2);
}
.pipe-button:after {
	background-position-x: calc((15 * 16px + 1px) * -1.2);
}
.star-button:after {
	background-position-x: calc((16 * 16px + 1px) * -1.2);
}
.colon-button:after {
	background-position-x: calc((17 * 16px + 1px) * -1.2);
}

@media (max-width: 1200px) {
	:root {
		--right-sidebar-expanded-width: calc(100dvw - 72px);
	}

	#app {
		float: left;
		max-width: none;
	}
	.main {
		width: 100dvw;
		overflow-x: visible;
	}
	body:not(.show-left) .sidebar-left,
	body:not(.show-right) .sidebar-right {
		flex-basis: 0;
		width: 0;

		.scroll {
			display: none;
		}
	}
	.show-left {
		.toolbar {
			display: none;
		}
		.menu-button {
			position: fixed;
			top: 18px;
			left: 260px;
		}
	}
	.show-right {
		#app {
			float: right;
		}
		.sidebar-right {
			flex-basis: var(--right-sidebar-expanded-width);
			width: var(--right-sidebar-expanded-width);
			max-width: none;

			.scroll {
				width: var(--right-sidebar-expanded-width);
			}
		}
		.snips-button {
			position: fixed;
			top: 18px;
			left: 6px;
		}
	}
	.toggle,
	.toolbar-centered {
		box-shadow: 0 0 8px 8px var(--paper-background);
	}
}
